<div class="simplo-post">
  <h3 class="simplo-post-title">
    <%= @post.title %>
  </h3>
  <div class="simplo-post-content">
    <%= md_as_html(@post.content) %>
  </div>
  <div class="simplo-post-meta">
    <p><small><em>Published at <%= @post.published_at %>.</em></small></p>
  </div>
</div>
